#{extends 'main.html' /}
#{set title:'Confirmation' /}

<div class="page">
	
  <h1>Failure</h1>
  
  <div class="parent">

  	<h2>Payment Failed</h2>
  
  	<div class="confirmation">
      <div class="productShot">
        <img src="/public/images/failure.png"/></a>
      </div>

      <label>
        No order id
      </label>
  	  </br>
      <label>
        No payment ref
      </label>
  	  </br>
      <a href="/products">See Products</a>

    </div>
  </div>
</div>
